<div class="center">
    <form (submit)="onSubmit()">

        <div>
            <label> Login </label>
            <div>
                <input type="text" [(ngModel)]="name" required name="name" />
            </div>
        </div>
        <div>
            <label> Password </label>
            <div>
                <input type="password" [(ngModel)]="password" required name="password" />
            </div>
        </div>

        <button class="btn btn-success" type="submit">Sing in</button>

    </form>
</div>
