################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RentFilm
/RentFilm/bin/Debug/netcoreapp3.1
/RentFilm/ClientApp/node_modules
/RentFilm/obj
