################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RentFilm
/RentFilm/bin/Debug/netcoreapp3.1
/RentFilm/ClientApp/node_modules
/RentFilm/obj
/RentFilm.Domain/bin/Debug/netcoreapp3.1
/RentFilm.Domain/obj
/RentFilm/Migrations
/RentFilm/bin/Debug/net5.0
/RentFilm.DAL/bin/Debug/net5.0
/RentFilm.DAL/obj
/RentFilm.Domain/bin/Debug/net5.0
/node_modules
/.vs/DemoAngular
/DemoAngular/bin/Debug/net5.0
/DemoAngular/ClientApp/node_modules
/DemoAngular/obj/Debug
/DemoAngular/obj
/DemoAngular.DAL/bin/Debug/net5.0
/DemoAngular.DAL/obj/Debug
/DemoAngular.DAL/obj
/DemoAngular.Domain/bin/Debug/net5.0
/DemoAngular.Domain/obj
