<h1></h1>
<input type="button" value="Добавить новый расход" class="btn btn-default" (click)="add()" *ngIf="tableMode"/>
<table width="100%" cellspacing="0" cellpadding="4" border="1" *ngIf="tableMode; else create" class="table">
    <tbody>
        <tr *ngFor="let p of products">
            <ng-template [ngIf]="product?.id != p.id" [ngIfElse]="edit">
                <td>
                    <a [title]="p?.id + ' details'"
                       [routerLink]="['/products', p?.id]">
                        {{p?.name}}
                    </a>
                </td>
                <td>{{p?.description}}</td>
                <td>{{p?.price}}</td>
                <td width="208px" nowrap>
                    <button class="button fancy-button" (click)="editProduct(p)"> <i class="material-icons">edit</i> </button>
                    <button class="button fancy-button" (click)="delete(p)"> <i class="material-icons">delete_forever</i></button>
                    <button (click)="addToCart(p)" style="float: right;" class="button fancy-button"><i class="material-icons">add</i></button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <textarea style="width:100%" type="text" name="comment" [(ngModel)]="product.name" class="form-control"></textarea>
    </td>
    <td>
        <textarea style="width:100%" type="text" name="comment" [(ngModel)]="product.description" class="form-control"></textarea>
    </td>
    <td>
        <input type="number" [(ngModel)]="product.price" class="form-control" />
    </td>
    <td nowrap>
        <button class="button fancy-button" (click)="save()"><i class="material-icons">save</i></button>
        <button class="button fancy-button" (click)="cancel()"><i class="material-icons">cancel</i></button>
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Название</label>
        <input type="text" [(ngModel)]="product.name" class="form-control" size="40"/>
    </div>
    <div class="form-group">
        <label>Описание расхода</label>
        <textarea type="text" name="comment" [(ngModel)]="product.description"  class="form-control" cols="43" rows="7"></textarea>
    </div>
    <div class="form-group">
        <label>Стоимость</label>
        <input type="number" [(ngModel)]="product.price" class="form-control" />
    </div>
    <div>
        <button class="button fancy-button" (click)="save()">Сохранить<i class="material-icons">save</i></button>
        <button class="button fancy-button" (click)="cancel()">Отменить<i class="material-icons">cancel</i></button>
    </div>
</ng-template>