<table class="table table-striped">
    <tbody>
        <tr *ngFor="let product of products;">
            <a [title]="product.id + ' details'"
                [routerLink]="['/products', product.id]">
            <td> <h3> {{ product?.name }} </h3> </td>
            </a>
            <td> {{ product.price | currency }} </td>
            <td>
                <button (click)="addToCart(product)" style="float: right;" class="button fancy-button"><i class="material-icons">add_shopping_cart</i></button>
            </td>
        </tr>
    </tbody>
</table>